.overivew-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.line-chart-container {
    margin-top: 2rem;
    
}
.line-chart-view {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-chart {
    height: 30rem !important;
}


@media (max-width:1000px) {
    .line-chart {
        height: 25rem !important;
    }
    
}