.table-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #f8f8f8;
    overflow: scroll;
 
}




.dark-table th {
    background: #141937!important;
    color: #f8f8f8 !important;
  }

  .dark-table .ant-table-tbody {
    background: #141937!important;
    color: #f8f8f8;
  }
  .dark-table .ant-table-column-sorter {
    color: #f8f8f8 !important
}
  
  .dark-table .ant-table-column-sort {
    background: #141937 !important
}
  .dark-table tr:hover td {
    background-color: #21295c !important;
    color: #ffedc2 !important;
  }


  .dark-table .ant-pagination > li > a, button, .ant-pagination-item-ellipsis {
    color: #a3a3a3 !important;
  }
 
  .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
    border-start-start-radius: 0;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
    border-start-end-radius: 0;
}



.ant-table-extensions .ant-btn {
  background-color: #1677ff;
  color: #f8f8f8 !important;
  border-color: #1677ff;;
}
  
  
  
  
  
  
