.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f8f8;
    padding: 0.5rem;
    height: 4.5rem;
    
}

.left,.right {
    display: flex;
    align-items: center;
}

.left{
  flex: 2;
  gap: 3rem;
}

.right {
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
}

.logo-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}