.geograph-container {
    display: flex;

    flex-direction: column;
    gap: 2rem;
    
}

.map {
    height: 35rem;
  
}

@media (max-width:767px) { 
    .map {
        height: 30rem;
      
    }

}

