.loader-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.loader-container > p {
    margin-right: -1rem;
    color: #f8f8f8;
    font-size: 1rem;
}