.products-container {
    background: #001a32;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.products-container .header {
    color: #f8f8f8;
}

.header > p {
    color: #ffedc2;
    margin-top: 0.6rem;
}
/* 
.product-description-container .ant-card {
    background: #191F45;
    border: 1px solid #191F45;
    color: #f8f8f8; 
 
    text-transform: capitalize;
}

.product-category {
    color: #858585;
    text-transform:lowercase;
    margin-bottom: 0.5rem;
}

.product-price{
    color: #ffedc2;
    margin-bottom: 0.6rem;
}

.product-info {
    color: #d3d4de;
}

.product-container .ant-collapse-item .ant-collapse-header {
    color: white;
}
.product-container .ant-collapse-item .ant-collapse-content {
    color: #a3a3a3;
} */